#__pycache__/
#AllInOne/__pycache__/
#AllInOne/datamodules/__pycache__/
#AllInOne/datasets/__pycache__/
#AllInOne/modules/__pycache__/
#AllInOne/transforms/__pycache__/
**/__pycache__/
metadata/
pretrained/
result/
**/.ipynb_checkpoints